<main class="max-w-7xl m-auto px-3 py-5">
  <app-section-recommend [recommendComics]="recommendComics">
  </app-section-recommend>

  <app-section-comic-panel
    title="Truyện nổi bật"
    [comics]="popularComics"
    slug="truyen-noi-bat"
  >
    <app-hot-icon></app-hot-icon>
  </app-section-comic-panel>

  <app-section-comic-panel
    title="Truyện hoàn thành"
    [comics]="completedComics"
    slug="truyen-hoan-thanh"
  >
    <app-check-wavy-icon></app-check-wavy-icon>
  </app-section-comic-panel>

  <app-section-comic-panel
    title="Mới cập nhật"
    [comics]="updatedComics"
    slug="truyen-cap-nhat"
  >
    <app-update-icon></app-update-icon>
  </app-section-comic-panel>

  <app-section-comic-panel
    title="Truyện nam"
    [comics]="boyComics"
    slug="truyen-nam"
  >
    <app-male-icon></app-male-icon>
  </app-section-comic-panel>

  <app-section-comic-panel
    title="Truyện nữ"
    [comics]="girlComics"
    slug="truyen-nu"
  >
    <app-female-icon></app-female-icon>
  </app-section-comic-panel>
</main>
