<swiper [config]="swiperConfig">
  <ng-template swiperSlide>
    <div>hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div>hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div>hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div>hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div>hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div>hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div>hello</div>
  </ng-template>
</swiper>
