<swiper [config]="swiperConfig">
  <ng-template swiperSlide>
    <app-comic-card [isSimpleCard]="true"></app-comic-card>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-blue-500">hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-blue-500">hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-blue-500">hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-blue-500">hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-blue-500">hello</div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="bg-blue-500">hello</div>
  </ng-template>
</swiper>
