<footer class="max-w-7xl m-auto px-3 py-10">
  <a routerLink="/" class="flex items-center gap-x-2 justify-center">
    <img
      src="assets/logo/logo-symbol.png"
      class="w-10 lg:w-14 aspect-square"
      alt="ComicNet's logo symbol"
    />
    <img
      src="assets/logo/logo-name.png"
      class="w-44 lg:w-64"
      alt="ComicNet's logo name"
    />
  </a>
  <a
    href="https://github.com/Qhung3217/ComicNet"
    target="_blank"
    rel="noopener"
    class="block w-fit mx-auto mt-2 text-center text-gray-400 hover:text-gray-500"
    ><app-github-icon class="block w-6 h-6"></app-github-icon
  ></a>
</footer>
