<main class="max-w-7xl m-auto px-3 py-5">
  <nav class="flex flex-wrap gap-1.5 sm:gap-3">
    <a
      routerLink="all"
      queryParamsHandling="merge"
      [queryParams]="{
        page: 1,
        status: 'all'
      }"
      class="text-base py-2 px-3 rounded flex items-center gap-x-1"
      appRouterActiveClass
      classActive="tab-active"
      stringInclude="top/all"
    >
      <app-comic-icon class="block w-6 h-6"></app-comic-icon> Top Comics
    </a>
    <a
      routerLink="ngay"
      queryParamsHandling="merge"
      appRouterActiveClass
      classActive="tab-active"
      stringInclude="top/ngay"
      [queryParams]="{
        page: 1,
        status: 'all'
      }"
      class="text-base py-2 px-3 rounded flex items-center gap-x-1"
    >
      <app-circle-letter-d-icon
        class="block w-6 h-6"
      ></app-circle-letter-d-icon>
      Top Ngày
    </a>
    <a
      routerLink="tuan"
      queryParamsHandling="merge"
      appRouterActiveClass
      classActive="tab-active"
      stringInclude="top/tuan"
      [queryParams]="{
        page: 1,
        status: 'all'
      }"
      class="text-base py-2 px-3 rounded flex items-center gap-x-1"
    >
      <app-circle-letter-w-icon
        class="block w-6 h-6"
      ></app-circle-letter-w-icon>
      Top Tuần
    </a>
    <a
      routerLink="thang"
      queryParamsHandling="merge"
      appRouterActiveClass
      classActive="tab-active"
      stringInclude="top/thang"
      [queryParams]="{
        page: 1,
        status: 'all'
      }"
      class="text-base py-2 px-3 rounded flex items-center gap-x-1"
    >
      <app-circle-letter-m-icon
        class="block w-6 h-6"
      ></app-circle-letter-m-icon>
      Top Tháng
    </a>
  </nav>
  <nav
    class="mt-3 mb-5 flex items-center gap-2.5 text-sm sm:gap-5 sm:text-base font-semibold"
  >
    <a
      (click)="changeStatus('all')"
      appRouterActiveClass
      classActive="status-active"
      stringInclude="status=all"
      class="cursor-pointer border rounded py-1 px-2 sm:py-1.5 sm:px-3"
    >
      Tất cả
    </a>
    <a
      (click)="changeStatus('completed')"
      appRouterActiveClass
      classActive="status-active"
      stringInclude="status=completed"
      class="cursor-pointer border rounded py-1 px-2 sm:py-1.5 sm:px-3"
    >
      Hoàn thành
    </a>
    <a
      (click)="changeStatus('ongoing')"
      appRouterActiveClass
      classActive="status-active"
      stringInclude="status=ongoing"
      class="cursor-pointer border rounded py-1 px-2 sm:py-1.5 sm:px-3"
    >
      Đang tiến hành
    </a>
  </nav>
  <router-outlet></router-outlet>
</main>
<app-button-scroll-to-top></app-button-scroll-to-top>
