<ul
  class="flex justify-start text-lg font-bold flex-col gap-y-3 mt-3 lg:mt-0 lg:gap-y-0 lg:flex-row lg:items-center lg:justify-around"
>
  <li>
    <a
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="nav-active"
      class="flex items-center gap-x-1 px-1 lg:px-4 py-2 rounded-full transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-home-icon
        class="lg:hidden w-5 h-5 block text-primary"
      ></app-home-icon>
      Trang chủ
    </a>
  </li>
  <li>
    <a
      appRouterActiveClass
      classActive="nav-active"
      stringInclude="the-loai"
      routerLink="/the-loai/all"
      [queryParams]="{ status: 'all', page: 1 }"
      class="flex items-center gap-x-1 px-1 lg:px-4 py-2 rounded-full transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-category-icon
        class="lg:hidden w-5 h-5 block text-primary"
      ></app-category-icon>
      Thể loại
    </a>
  </li>
  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/truyen-moi"
      class="flex items-center gap-x-1 px-1 lg:px-4 py-2 rounded-full transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-new-icon class="lg:hidden w-5 h-5 block text-primary"></app-new-icon>
      Truyện mới
    </a>
  </li>
  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/top"
      class="flex items-center gap-x-1 px-1 lg:px-4 py-2 rounded-full transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-top-icon class="lg:hidden w-5 h-5 block text-primary"></app-top-icon>
      Top
    </a>
  </li>

  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/lich-su"
      class="flex items-center gap-x-1 px-1 lg:hidden py-2 transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-hot-icon class="lg:hidden w-5 h-5 block text-primary"></app-hot-icon>
      Nổi bật
    </a>
  </li>

  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/hoan-thanh"
      class="flex items-center gap-x-1 px-1 lg:hidden py-2 transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-check-wavy-icon
        class="lg:hidden w-5 h-5 block text-primary"
      ></app-check-wavy-icon>
      Hoàn thành
    </a>
  </li>

  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/truyen-moi-cap-nhat"
      class="flex items-center gap-x-1 px-1 lg:hidden py-2 transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-update-icon
        class="lg:hidden w-5 h-5 block text-primary"
      ></app-update-icon>
      Mới cập nhật
    </a>
  </li>

  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/truyen-nam"
      class="flex items-center gap-x-1 px-1 lg:hidden py-2 transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-male-icon
        class="lg:hidden w-5 h-5 block text-primary"
      ></app-male-icon>
      Truyện nam
    </a>
  </li>

  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/truyen-nu"
      class="flex items-center gap-x-1 px-1 lg:hidden py-2 transition-colors transition-opacity active:opacity-80 lg:hover:text-primary"
    >
      <app-female-icon
        class="lg:hidden w-5 h-5 block text-primary"
      ></app-female-icon>
      Truyện nữ
    </a>
  </li>

  <li>
    <a
      routerLinkActive="nav-active"
      routerLink="/lich-su"
      class="flex items-center gap-x-1 px-1 lg:hidden py-2 transition-colors transition-opacity active:opacity-80"
    >
      <app-history-icon
        class="lg:hidden w-5 h-5 block text-primary"
      ></app-history-icon>
      Lịch sử
    </a>
  </li>
</ul>
