.disabled-btn-change-chapter[disabled] {
  @apply cursor-default grayscale opacity-70 pointer-events-none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
