<main class="pb-5 bg-black">
  <section class="max-w-5xl m-auto">
    <div class="bg-white pt-8 px-4">
      <ngx-skeleton-loader
        class="max-w-[400px] block"
        *ngIf="!chapterResponse"
      ></ngx-skeleton-loader>
      <h1 class="text-2xl md:text-3xl font-bold pb-3" *ngIf="chapterResponse">
        <a
          [routerLink]="['/', chapterRequest.comicId]"
          class="text-primary press-state lg:hover:underline"
          >{{ chapterResponse.comicName }}</a
        >
        - {{ chapterResponse.chapterName }}
      </h1>
    </div>

    <nav
      class="flex items-center justify-center gap-3 text-primary sticky -top-px left-0 right-0 rounded-bl rounded-br pb-1 bg-white pt-1 shadow z-10"
    >
      <a
        routerLink="/"
        class="hover:text-white hover:ring hover:ring-offset-1 hover:ring-primary rounded-md hover:bg-primary press-state"
        ><app-home-icon class="w-7 h-7 block"></app-home-icon
      ></a>
      <div class="flex items-center gap-1 relative">
        <app-small-loading-spinner
          *ngIf="!chapterResponse || showLoadingSpinner"
        ></app-small-loading-spinner>
        <a
          class="p-1.5 bg-purple-200 rounded-lg hover:bg-primary hover:text-white press-state select-none"
          [attr.disabled]="!prevChapterId || showLoadingSpinner"
          [ngClass]="{
            'disabled-btn-change-chapter': !prevChapterId
          }"
          [routerLink]="['/', chapterRequest.comicId, prevChapterId]"
        >
          <app-left-icon class="w-6 h-6 block"></app-left-icon>
        </a>
        <span
          class="flex items-center justify-between text-black border rouded text-lg py-1 px-2 min-w-[100px] sm:min-w-[200px] select-none cursor-pointer"
          (click)="showChaptersModal = true"
        >
          {{ chapterResponse?.chapterName }}
          <app-arrow-left-icon
            class="-rotate-90 w-6 h-6 block text-primary"
          ></app-arrow-left-icon>
        </span>
        <a
          class="p-1.5 bg-purple-200 rounded-lg hover:bg-primary hover:text-white press-state select-none"
          [attr.disabled]="!nextChapterId || showLoadingSpinner"
          [ngClass]="{
            'disabled-btn-change-chapter': !nextChapterId
          }"
          [routerLink]="['/', chapterRequest.comicId, nextChapterId]"
        >
          <app-left-icon class="-rotate-180 w-6 h-6 block"></app-left-icon>
        </a>
      </div>
      <a
        routerLink="/one-piece"
        fragment="chapter"
        class="hover:text-white hover:ring hover:ring-offset-1 hover:ring-primary rounded-md hover:bg-primary press-state"
      >
        <app-list-icon class="w-7 h-7 block"></app-list-icon>
      </a>
    </nav>

    <div class="max-w-3xl mx-auto w-full md:w-11/12 flex flex-col">
      <img
        [ngSrc]="chapterImage.src"
        [alt]="
          chapterResponse?.comicName +
          '-' +
          chapterResponse?.chapterName +
          '-' +
          chapterImage.page
        "
        *ngFor="let chapterImage of chapterResponse?.images; let i = index"
        class="select-none object-contain block w-full"
        style="position: static !important"
        [priority]="i < 5"
        fill
        appImageLoadFailed
        [backupSrc]="chapterImage.backupSrc"
      />
    </div>

    <div
      class="fixed inset-0 py-8 z-20"
      [ngClass]="{
        block: showChaptersModal,
        hidden: !showChaptersModal
      }"
      (click)="showChaptersModal = false"
    >
      <div
        class="rounded-md max-w-2xl mx-auto w-11/12 h-full bg-white relative flex flex-col shadow-[0_0_50px_-8px_rgba(0,0,0,0.25)]"
        (click)="$event.stopPropagation()"
      >
        <div
          class="border-b shadow-sm flex-shrink-0 bg-zinc-50 p-3 rounded-tr-md rounded-tl-md flex items-center justify-between"
        >
          <div class="flex items-center gap-1 flex-1">
            <input
              type="number"
              placeholder="Nhập số chapter, ví dụ: 100"
              [(ngModel)]="searchChapterNumber"
              (keyup)="onSearchChapterNumberChanged()"
              class="rounded-md py-1 px-3 block w-6/12 min-w-fit shadow-[inset_0_0_4px_3px_rgba(0,0,0,0.1)] focus:outline-primary"
            />
          </div>
          <button
            class="cursor-pointer press-state hidden sm:block"
            (click)="showChaptersModal = false"
          >
            <app-x-icon
              class="w-[18px] h-[18px] block text-slate-600"
            ></app-x-icon>
          </button>
        </div>

        <ul
          class="overflow-auto flex-1 gap-2 grid grid-cols-2 md:grid-cols-4 p-3"
        >
          <li
            *ngFor="let chapter of chapterRender"
            [id]="
              chapter.id === chapterRequest.chapterId ? 'scrollToThis' : null
            "
          >
            <a
              [routerLink]="['/', chapterRequest.comicId, chapter.id]"
              class="py-1 px-2 text-sm border rounded truncate block visited:text-fuchsia-300"
              [ngClass]="{
                'bg-primary text-white visited:text-white':
                  chapter.id === chapterRequest.chapterId
              }"
              (click)="showChaptersModal = false"
              ><abbr [title]="chapter.name" class="no-underline">{{
                chapter.name
              }}</abbr></a
            >
          </li>
        </ul>
        <div
          class="border-t shadow-sm flex-shrink-0 bg-zinc-50 p-3 rounded-br-md rounded-bl-md flex items-center justify-between"
        >
          <button
            class="bg-white py-1 px-3 text-sm press-state border rounded"
            appScrollTo
          >
            Chương hiện tại
          </button>
          <button
            class="bg-white py-1 px-3 text-sm press-state border rounded"
            (click)="showChaptersModal = false"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
