<div
  class="relative rounded-md overflow-hidden border lg:hover:border-primary transition-colors"
>
  <a [routerLink]="[comic?.id]" class="relative w-full aspect-[2/3] block">
    <img
      [ngSrc]="thumbnail"
      [alt]="comic ? comic.title : 'Default image'"
      class="w-full aspect-[2/3] object-cover object-center"
      fill
      [priority]="!lazy"
      (error)="loadDefaultImage()"
    />
  </a>
  <div
    class="absolute bottom-0 w-full bg-gradient-to-b from-transparent from-0% to-60% to-black flex flex-col justify-end items-stretch px-4 py-2"
  >
    <a routerLink="" [class]="{ 'mb-2': category === 'comic-recommend' }"
      ><abbr
        [title]="comic?.title"
        class="no-underline capitalize text-white text-lg font-bold lg:hover:underline decoration-solid lg:hover:text-[#a671e0] line-clamp-2 transition-colors duration-100 ease-linear"
        >{{ comic?.title }}
      </abbr></a
    >
    <div
      class="border-t mt-3 pt-2 border-gray-500"
      *ngIf="category === 'comic'"
    >
      <aside class="capitalize text-sm font-semibold text-gray-300 truncate">
        {{ comic && (comic.genres | genresToString) }}
      </aside>
      <aside
        class="flex items-center gap-x-2 text-primary pt-1.5 pb-1 justify-center text-xs"
      >
        <span class="flex items-center gap-x-1 bg-white/80 px-1 rounded"
          ><app-eye-icon class="w-3 h-3"></app-eye-icon
          >{{ comic?.total_views | number : "1.0-0" }}</span
        >
        <span class="flex items-center gap-x-1 bg-white/80 px-1 rounded"
          ><app-heart-icon class="w-3 h-3"></app-heart-icon
          >{{ comic?.followers | number : "1.0-0" }}</span
        >
      </aside>
    </div>
  </div>
  <div
    class="absolute top-0 left-0 flex gap-1 font-semibold text-white text-xs pointer-events-none"
    *ngIf="category === 'comic'"
  >
    <span class="capitalize py-1 px-2 bg-rose-500" *ngIf="comic?.is_trending"
      >Hot</span
    >
    <span class="capitalize py-1 px-2 bg-yellow-500" *ngIf="isUp()">Up</span>
    <span
      class="capitalize py-1 px-2 bg-green-500"
      *ngIf="comic?.status === 'completed'"
      >end</span
    >
  </div>
</div>
