<main class="max-w-7xl m-auto px-3 py-5">
  <h1
    class="flex items-center gap-x-2 text-xl font-bold mb-4 sm:text-2xl md:text-3xl"
  >
    <app-category-icon
      class="w-9 aspect-square text-primary"
    ></app-category-icon>
    Thể Loại
  </h1>
  <ul class="flex flex-wrap items-center w-full border">
    <li *ngFor="let genre of genres">
      <a
        [routerLink]="['/the-loai', genre.id]"
        routerLinkActive="genre-active"
        class="px-5 py-3 w-max text-base block"
        >{{ genre.name }}</a
      >
    </li>
  </ul>
  <aside
    class="px-4 py-2 text-white flex items-center gap-x-2 bg-sky-500 rounded mt-3 mb-5"
  >
    <app-information-icon class="w-[30px] aspect-square"></app-information-icon>
    {{ genreSelected?.description }}
  </aside>
  <app-list></app-list>
</main>
